<div *ngIf="country" class="country-detail" fxLayout="column" fxLayoutGap="10px">
    <mat-toolbar fxLayout="row" fxLayoutGap="10px">
        <button mat-icon-button (click)="closeSidebar()">
            <mat-icon aria-label="Close country">arrow_back_ios</mat-icon>
        </button>
        <img [src]="country.flag" [alt]="country.name" fxFlex="75px" fxFlex.xs="45px" />
        <p>{{country.name}}</p>
        <p><small>({{country.nativeName}})</small></p>
    </mat-toolbar>
    <div class="country-block" fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutAlign.gt-xs="center center">
            <mat-card fxFlex="auto" *ngIf="country.region">
                <mat-card-title>
                    <mat-icon matPrefix>map</mat-icon>
                    Region
                </mat-card-title>
                <mat-card-content>{{country.region}}<span *ngIf="country.subregion">/{{country.subregion}}</span>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="auto" *ngIf="country.capital">
                <mat-card-title>
                    <mat-icon matPrefix>location_city</mat-icon>
                    Captial
                </mat-card-title>
                <mat-card-content>{{country.capital}}</mat-card-content>
            </mat-card>
            <mat-card fxFlex="auto" *ngIf="country.population">
                <mat-card-title>
                    <mat-icon matPrefix>people</mat-icon>
                    Population
                </mat-card-title>
                <mat-card-content>{{country.population | number}}</mat-card-content>
            </mat-card>
        </div>
        <mat-card fxFlex="100%" *ngIf="country.currencies && country.currencies.length > 0">
            <mat-card-title>
                <mat-icon matPrefix>money</mat-icon>
                Currencies
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let currency of country.currencies">
                        {{currency.symbol || ''}} "{{currency.name}}" ({{currency.code}})
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="100%" *ngIf="country.timezones && country.timezones.length > 0">
            <mat-card-title>
                <mat-icon matPrefix>access_time</mat-icon>
                Timezones
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let timezone of country.timezones">
                        {{timezone}}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card class="country-block">
        <mat-card-title>You can find us here</mat-card-title>
        <mat-card-content>
            <agm-map [latitude]="country.latlng[0]" [longitude]="country.latlng[1]" [zoom]="3">
                <agm-marker [latitude]="country.latlng[0]" [longitude]="country.latlng[1]"
                            [label]="country.name" gestureHandling="cooperative" fitBounds="true"></agm-marker>
            </agm-map>
        </mat-card-content>
    </mat-card>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end" class="country-block">
            <fb-like url="http://earth.pax.rocks/detail/{{country.alpha3Code}}"></fb-like>
            <tweet url="http://earth.pax.rocks/detail/{{country.alpha3Code}}" text="Come and see the beautiful side of {{country.name}}"></tweet>
    </div>
    <mat-accordion class="country-block">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Report a error
                </mat-panel-title>
                <mat-panel-description>
                    Please let us now if something is wrong...
                </mat-panel-description>
            </mat-expansion-panel-header>
            <edit-country></edit-country>
        </mat-expansion-panel>
    </mat-accordion>
</div>
