<mat-drawer-container autosize fxFlex="row" fullscreen>
    <mat-drawer #sidenav mode="over" autoFocus="true" position="end" fixedInViewport="true">
        <router-outlet></router-outlet>
    </mat-drawer>
    <mat-toolbar color="primary">
        <mat-icon matPrefix>explore</mat-icon>
        <span>Earth</span>
    </mat-toolbar>
    <div class="list" fxFlex="row">
        <mat-card>
            <mat-card-content>
                <countries></countries>
            </mat-card-content>
        </mat-card>
    </div>
</mat-drawer-container>
