@import "~@angular/flex-layout/mq";
.list {
  margin: 10px;
}

mat-drawer {
  width: 100%;
  @include layout-bp(md) {
    width: 75%;
  }
  @include layout-bp(lg) {
    width: 50%;
  }
  @include layout-bp(xl) {
    width: 50%;
  }
}
